{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% block title %}
Add New User
{% endblock %}
{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container mb-5" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 col-8 offset-2 col-xs-8 col-md-8 col-sm-8 mt-5">
                <h2 class="mb-2">Add New User</h2>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {% endif %}
                <form method="post" novalidate class="mb-5">
                    {% csrf_token %}
                    {{ register_form | crispy }}
                    <button type="submit" class="btn btn-outline-warning">Add User</button>
                </form>
                <div class="list mb-5">
                    <a href="{% url 'store:index' %}">Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}