{% extends 'store/base.html' %}
{% load static %}
<!doctype html>
{% block title %}
Password reset complete
{% endblock %}

{% block content %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <h5>Password Reset Complete</h5>
                <p>
                    You can <a href="{% url 'login' %}" class="get-started-btn scrollto"> log in</a> now
                </p>
            </div>
            <div class="footer">
                <div class="6">
                    <a href="{% url 'store:index' %}" class="get-started-btn scrollto">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}