{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="page-header">
            <h3 class="text-light text-bold"> Change Password </h3>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="">
                    <div class="">

                        <form class="forms-sample" method="POST" novalidate>

                            {% include 'storeapp/form-snippet.html' with form=change_pass %}

                            <button type="submit" class="btn btn-outline-warning mr-2">Change Password</button>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    <div class="6 list my-5">
                        <a href="{% url 'storeapp:index' %}">Return to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}