{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
{% block title%}
The Ambassadors Store-Ota
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-8 col-lg-8 col-8">
                <h3 class="text-light text-bold">{% if request.user.is_authenticated %}<span
                        class="text-info text-bold text-uppercase username">
                        {{request.user.username}}<i class="ri-user-5-line text-light text-bold"></i> </span>
                    {% endif %}<span class="text-sm"><a href="{% url 'storeapp:logout_user' %}"
                            class="ml-3 btn btn-outline-light">Log-out</a></span>
                    <span>
                        <a href="{% url 'storeapp:change_password' %}" class="ml-3 btn btn-outline-light">Change
                            password</a>
                    </span>
                </h3>
                <h3 class="text-light text-bold">Store Dashboard</h3>
                <h5 class="text-warning text-bold time" id="date-time">
                    <script>
                        setInterval(() => {
                            var dt = new Date();
                            document.getElementById("date-time").innerHTML = dt;
                        }, 1000);

                    </script>
                </h5>
                <form action="{% url 'storeapp:searchposts' %}" method="GET" value="{{request.GET.q}}"
                    class="form-inline">
                    <div class="form-group">
                        <input type="text" name="q" value="{{request.GET.q}}" placeholder="Enter Voucher ID.."
                            class="form-control">
                        <input type="submit" name="submit" value="Search"
                            class="form-control btn btn-outline-warning" />
                    </div>
                </form>
            </div>
            <div class="col-xl-4 col-lg-4 col-4">
                <form action="" method="POST" class="m-3">
                    <h6>Filter By Date Range:</h6>
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-outline-warning ml-2">Submit</button>
                </form>
            </div>
        </div>

        <div class="row mt-1 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-12 col-md-8 col-8 offset-2 mb-2 p-2">
                <div class="icon-box">
                    <i class="ri-store-line"></i>
                    {% if object_overall|length > 0 %}
                    <h3 class="order-total"><a href="">There {% if object_overall|pluralize %}are{% else %}is{% endif %}
                            {{object_overall|length }} unpackaged
                            order{{ object_overall|pluralize }} in the store</a>
                    </h3>
                    {% else %}
                    <h3><a href="">No record is available</a></h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 ">
                <div class="icon-box">
                    <i class="ri-add-line"></i>
                    <h3><a href="{% url 'store:add_category'  %}">Add New Item</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 ">
                <div class="icon-box">
                    <i class="ri-shopping-cart-line"></i>
                    <h3><a href="{% url 'storeapp:store_dashboard' %}">Accredited Orders</a>
                        <span class="text-warning text-bold">
                            {% if object_list|length > 0 %}({{object_list|length }}){% else %}(0){% endif %}</span>
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 ">
                <div class="icon-box">
                    <i class="ri-store-line"></i>
                    <h3><a href="{% url 'storeapp:packaged'  %}">Packaged Orders</a>
                        <span class="text-warning text-bold">
                            {% if package_list|length > 0 %}({{package_list|length }}){% else %}(0){% endif %}</span>
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a href="{% url 'storeapp:disburse'  %}">Disbursed Orders</a>
                        <span class="text-warning text-bold">
                            {% if list_object|length > 0 %}({{list_object|length }}){% else %}(0){% endif %}</span>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->


{% endblock %}